.skill {
  background-color: black;
  padding-top: 80px;
  padding-bottom: 90px;
  color: white;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
}
.skill_div {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}
.skill > div {
  margin-top: 30px;
}
.skill > div > img {
  height: 90px;
  width: 90px;
  padding: 10px;
  border-radius: 10px;
}

.skill > div > img:hover {
  width: 95px;  
  background-color: white;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 25px;
  width: 70%;
  margin: auto;
}

@media (max-width: 700px) {
  .skill > div > img {
    height: 90px;
    width: 80px;
    background-color: rgba(34, 32, 32, 0.723);
    padding: 10px;
    border-radius: 8px;
  }
}

@media (max-width: 580px) {
  .skill {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .skill > div > img {
    height: 40px;
    width: 35px;
  }
  .icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 18px;
  }
}

@media (max-width: 380px) {
  .skill {
    padding-top: 40px;
    padding-bottom: 60px;
  }
  .skill > div > img {
    height: 30px;
    width: 25px;
  }
  .icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 80%;
    margin: auto;
    gap: 16px;
  }
}

@media (max-width: 300px) {
  .skill > div > img {
    height: 20px;
    width: 15px;
  }

  .icons {
    width: 80%;
    gap: 5px;
    width: 70%;
    margin: auto;
    gap: 8px;
  }
}
