.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 120px 180px;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0px 30px;
  font-size: 40px;
  font-weight: 600;
}

.about-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 60%;
  z-index: -1;
}

.about-sections {
  display: flex;
  gap: 80px;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px;
  font-weight: 500;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about-skill {
  display: flex;
  gap: 40px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 16px;
  font-weight: 500;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff9a9e 0.36%, #3a1c71 102.06%);
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 60px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}

.about-achievement h1 {
  font-size: 40px;
  font-weight: 700;
  background: linear-gradient(267deg, #ff9a9e 0.36%, #3a1c71 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-achievement p {
  font-size: 18px;
  font-weight: 500;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

@media (max-width: 768px) {
  .about {
    gap: 60px;
    margin: 50px 50px;
    align-items: start;
  }

  .about-title {
    font-size: 40px;
    padding: 0;
  }

  .about-title h1 {
    padding: 0;
    font-size: 30px;
  }

  .about-title img {
    width: 130px;
    right: -20px;
  }

  .about-sections {
    flex-direction: column;
  }

  .about-right {
    display: none;
  }

  .about-para {
    font-size: 15px;
    line-height: 30px;
  }

  .about-skill {
    gap: 0px;
    align-items: center;
  }

  .about-skill p {
    font-size: 12px;
    min-width: 100px;
  }

  .about-skill hr {
    height: 6px;
  }

  .about-achievements {
    justify-content: space-between;
  }

  .about-achievement {
    gap: 10px;
  }

  .about-achievement h1 {
    font-size: 30px;
    font-weight: 700;
  }

  .about-achievement p {
    text-align: center;
    font-size: 10px;
  }
}
