.home {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.home img {
  margin-top: 50px;
  margin-bottom: 10px;
}

.home h1 {
  text-align: center;
  width: 70%;
  font-size: 30px;
  font-weight: 600;
}

.home h1 span {
  background: linear-gradient(267deg, #ff9a9e 0.36%, #3a1c71 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home p {
  width: 50%;
  text-align: center;
  font-size: 20px;
  /* line-height: 40px; */
}

.home-action {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 50px;
  margin-top: 20px;
}

.home-connect {
  padding: 20px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff9a9e 0.36%, #3a1c71 102.06%);
  cursor: pointer;
  font-size: 18px;
}

.home-resume {
  padding: 20px 30px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
  font-size: 18px;
}

.home-connect:hover {
  border: 2px solid white;
}

.home-resume:hover {
  border-color: #3a1c71;
}

@media (max-width: 768px) {
  .home {
    gap: 10px;
  }
  .home img {
    margin-top: 60px;
    width: 200px;
  }

  .home h1 {
    /* margin-top: 50px; */
    width: 90%;
    font-size: 50px;
  }

  .home p {
    width: 60%;
    font-size: 16px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .home h1 {
    font-size: 24px;
  }

  .home-action {
    gap: 14px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 50px;
  }

  .home-connect {
    padding: 20px 25px;
    border-radius: 40px;
    font-size: 12px;
  }

  .home-resume {
    padding: 20px 25px;
    border-radius: 40px;
    font-size: 12px;
  }
}
