.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  margin: 0 auto;
  max-width: 1000px;
}

.contact-title {
  text-align: center;
  position: relative;
}

.contact-title h1 {
  padding: 0 1rem;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.contact-title img {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 80px;
  z-index: -1;
}

.contact-section {
  display: flex;
  flex-direction: row;
  gap: 10rem;
  /* flex-wrap: wrap; */
  width: 100%;
}

/* .contact-left,
.contact-right {
  flex: 1;
  min-width: 280px;
} */

.contact-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.contact-right h1 {
  font-weight: 700;
  font-size: 2rem;
  background: linear-gradient(267deg, #ff9a9e 0.36%, #3a1c71 102.06%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0.5rem;
}

.contact-right p {
  max-width: 100%;
  color: #d8d8d8;
  font-size: 1rem;
  line-height: 1.8;
}

.contact-details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #d8d8d8;
  font-size: 1.2rem;
}

.contact-detail {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.contact-left label {
  color: #d8d8d8;
  font-size: 1rem;
  font-weight: 500;
}

.contact-left {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  width: 60%;
}

.contact-left input,
.contact-left textarea {
  /* width: 0%; */
  padding: 0.8rem;
  border: none;
  border-radius: 4px;
  background: #32323c;
  color: #a0a0a0;
  font-size: 1rem;
  resize: none;
}

.contact-submit {
  border: none;
  color: white;
  border-radius: 50px;
  background: linear-gradient(267deg, #ff9a9e 0.36%, #3a1c71 102.06%);
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  cursor: pointer;
  transition: 0.3s;
  width: 40%;
}

.contact-submit:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .contact-title h1 {
    font-size: 2rem;
  }

  .contact-section {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .contact-right h1 {
    font-size: 1.8rem;
  }

  .contact-right p {
    font-size: 1rem;
    max-width: 100%;
  }

  .contact-detail img {
    width: 20px;
  }

  .contact-left,
  .contact-right {
    width: 80%;
  }
  .contact-left input,
  .contact-left textarea {
    font-size: 0.5rem;
    padding: 0.4rem;
  }

  .contact-submit {
    padding: 0.7rem 1.5rem;
    width: 60%;
    font-size: 0.6rem;
    margin: auto;
  }
}
