#footer{
    text-align: center;
    background-color: gray;
    padding: 60px 0px 70px 0px ;
    font-family: Arial, Helvetica, sans-serif;
}

.contact{
    color: white;
    margin-bottom: 10px;
    font-size: 30px;
}

.line{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.flexlink{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin: auto;
}

.f{
    width: 300%;
    height: 120%;
}

.f:hover{
    color: black;
}


@media (max-width:380px){     
    .flexlink{
        gap: 50px;
    }

    .contact_me>p{
        font-size: 15px;
    }
    
    .f{
        width: 200%;
        height: 120%;
    }
}