.github{
    width: 90%;
    margin: auto;
    padding: 50px 0px 50px 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fdiv{
    width: 80%;
    margin: auto;
    margin-top: 10px;
}

.contribution{
    width:60%;
    margin:auto;
}
.stats{
    width:60%;
    margin:auto;
    margin-top: 10px;
}

.sdiv{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}


@media (max-width:380px){
    .github{
        width: 80%;
        margin: auto;
        padding: 50px 0px 50px 0px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .fdiv{

        width: 80%;
        margin: auto;
        margin-top: 10px;
    }

    .stats{
        width:90%;
        margin:auto;
    }

    .stats>img{
        width: 10px;
    }
    
    .sdiv{
        width: 80%;
        margin: auto;
        margin-top: 60px;
    }
}