#projects{
  padding: 55px 0 55px 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(8, 8, 8, 0.171);
}
.project_h1{
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  color: white;
}

#project{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  margin:auto;
  text-align: center;
  width: 80%;
  gap: 30px;
}

.img{
width: 100%;
}

.tech{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;

}

.tech>p{
  color: black;
}
.images{
  width: 40px;
  height: 40px;
}
.website{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.link{
  padding: 10px 10px;
  background-color:white;
  color: black;
  cursor: pointer;
}

.link:hover{
  background-color: rgb(150, 150, 203);
  font-size: 20px;
}


 
@media (max-width: 980px) {
  #project{
    grid-template-columns: repeat(1,1fr);
  }

  .headings{
    font-size: 20px;
  }
  
  .tech>p{
    gap: 10px;
    font-size: 20px;
  }
  .images{
    width: 25px;
    height: 25px;
  }

  .website{
    gap: 20px;
  }
  
  .link{
    padding: 15px 15px;
  }

  .link:hover{
    background-color: rgb(150, 150, 203);
    font-size: 20px;
  }
}

@media (max-width:580px) {
  #project{
    grid-template-columns: repeat(1,1fr);
  }

  .headings{
    font-size: 15px;
  }
  
  .tech>p{
    gap: 10px;
    font-size: 15px;
  }
  .images{
    width: 25px;
    height: 25px;
  }

  .website{
    gap: 15px;
  }
  
  .link{
    padding: 10px 10px;
  }

  .link:hover{
    background-color: rgb(150, 150, 203);
    font-size: 20px;
  }
}

@media (max-width:380px) {

  #project{
    grid-template-columns: repeat(1,1fr);
    width: 80%;
    margin: auto;
  }

  .headings{
    font-size: 10px;
  }
  
  .tech>p{
    gap: 5px;
    font-size: 10px;
  }
  .images{
    width: 15px;
    height: 15px;
  }

  .website{
    gap: 10px;
  }
  
  .link{
    padding: 3px 3px;
  }

  .link:hover{
    background-color: rgb(150, 150, 203);
    font-size: 15px;
  }
}