.skill{
    background-color: rgb(202, 192, 192);
     padding-top: 70px;
     padding-bottom: 60px;
     color: white;
     height: auto;
     font-family: Arial, Helvetica, sans-serif;

   }
   .skill_div{
    text-align: center;
    font-size: 30px;
    margin-bottom: 50px;
   }
   .skill>div{
    margin-top: 30px;
   }
   .skill>div>img{
     height: 80px;
     width: 80px;
     background-color: rgba(34, 32, 32, 0.723);
     padding: 10px;
     border-radius: 8px;
   }

   .skill>div>img:hover{
     background-color: rgba(245, 245, 245, 0.355);
   }   
   .icons{
     display: flex;
     justify-content: center;
     gap: 20px;
     width: 70%;
     margin: auto;
  }

@media (max-width:580px) {
  .skill{
     padding-top: 40px;
     padding-bottom: 50px;
   }
   .skill>div>img{
     height: 40px;
     width: 40px;
   }
   .icons{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     width: 80%;
     margin: auto;
  }
}

@media (max-width:380px) {
  .skill{
     padding-top: 40px;
     padding-bottom: 50px;
   }
   .skill>div>img{
     height: 30px;
     width: 20px;
   }
   .icons{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     width: 80%;
  }
}

@media (max-width:280px) {

   .skill>div>img{
     height: 20px;
     width: 15px;
   }

   .icons{
    width: 80%;
    gap: 5px;
    width: 70%;
    margin: auto;
 }
}